<div class="jumbotron">
    <h2>Practica 7: Web API</h2>
    <ul>
        <li>Crear una rama nueva llamada "labNetPractica7".</li>
        <li>Continuar desde el último proyecto que vienen trabajando (MVC, en otra rama)</li>
        <li>Consumir una API Publica (cualquiera que les interese usar) y mostrar el resultado en algún lado de la web.</li>
        <li>Crear un nuevo proyecto de WebApi en la solución que exponga las entidades que vengan utilizando y sus acciones (ABM).</li>
    </ul>
    <p>
    @Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "nav-link" })
</p>
</div>
