<h2 class="text-center mt-3">Modificar Shipper</h2>
    <form [formGroup]="shipperForm" (ngSubmit)="onSubmit()">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <div class=" mt-2 mb-3">
                    <span for="companyName" class="form-label"><strong>Ingrese el nombre de la compañia: </strong></span>
                    <input type="text" formControlName="companyName" class="form-control mt-3" id="companyName" placeholder="Ingrese nombre de la compañia">
                    <div *ngIf="submitted && validatorArray.companyName.errors" class="text-danger">
                        <span *ngIf="validatorArray.companyName.errors.required">Campo obligatorio</span>
                        <span *ngIf="validatorArray.companyName.errors.maxlength">Supero el maximo de caracteres</span>
                        <span *ngIf="validatorArray.companyName.errors.minlength">No cuenta con el minimo de caracteres</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3" >
            <div class="col-6">
                <div class="mb-3">
                    <span for="phone" class="form-label"><strong>Ingrese el número de teléfono: </strong></span>
                    <input type="text" formControlName="phone" class="form-control mt-3" id="phone" placeholder="Ingrese el número de teléfono">
                    <div *ngIf="submitted && validatorArray.phone.errors" class="text-danger">
                        <span *ngIf="validatorArray.phone.errors.required">Campo obligatorio</span>
                        <span *ngIf="validatorArray.phone.errors.maxlength">Supero el maximo de caracteres</span>
                        <span *ngIf="validatorArray.phone.errors.minlength">No cuenta con el minimo de caracteres</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center my-2">
            <button type="reset" (click)="onReset()" class="btn btn-outline-danger mx-4">Limpiar</button>    
            <button type="submit" class="btn btn-outline-primary mx-4">Modifcar Shipper</button>    
        </div>
        <div *ngIf="error">
            <p class="text-danger">Hubo un error al modificar el Shipper, intentelo nuevamente</p>
        </div>
    </form>


