<div class="row">
    <div class="col-12">
        <h3 class="text-center my-3">Trabajo de Angular conectado a WebApi</h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p class="text-center"><strong>Realizado por Nahuel Garcia</strong></p>
    </div>
</div>
<p class="mx-3 mt-3"><strong>Consigna Haciendo uso de la Api generada en la práctica anterior, <br />
        utilizar una de las entidades y generar un ABM básico (Insert, Update, Delete, Get).</strong></p>
<div class="row ">
    <div class="col-5 my-2 mx-4">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Criterios de Aceptación: </strong></li>
                <li class="list-group-item">Formulario Reactivo.</li>
                <li class="list-group-item">Validaciones.</li>
                <li class="list-group-item">Template en algún framework (Bootstrap, Material, etc).</li>
                <li class="list-group-item">Estructura del proyecto.</li>
                <li class="list-group-item">Manejo de errores.</li>
            </ul>
        </div>
    </div>
    <div class="col-6 my-2 mx-4">
        <img class="gif" src="../../../../../assets/chissweet.gif"/>
    </div>
</div>