@{
    ViewBag.Title = "Consigna ";
}
<h2 class="text-center mt-4">@ViewBag.Message</h2>

<h4 class="mt-2">Consignas: </h4>

<p class="mt-3 mb-5">
    1) Realizar un ABMC sobre la entidad que venian trabajando en Entity Framework. <br/>
    2) Recuerden que el Proyecto Tiene que ser MVC de .NET Framework (No confundir con Net Core). <br />
    3) Investigar como utilizar la misma vista y controlador para realizar el Insert y Update. <br />
    4) Pueden agregar validators (con Atributos), pueden hacer validadores custom, capturar y mostrar estos mensajes de la forma que quieran.
</p>
