    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand mx-2" routerLink="/home">LabNetAngular</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLab"
                    aria-controls="navbarLab" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse show justify-content-end" id="navbarLab">
                    <div class="navbar-nav">
                        <a class="nav-link" routerLink="/home">Home</a>
                        <a class="nav-link" routerLink="/shippers">Ver Lista de Shippers</a>
                        <a class="nav-link" routerLink="/shippers/create">Crear Shipper</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
